* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  background: white;
  margin: 0;
  padding: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#question {
  padding: 20px;
}

.container {
  position: relative;
  display: flex;
  gap: 20px;
}

button {
  padding: 14px 26px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #e0e0e0;
  position: relative;
}
